* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --blue: #7d23f00a;
    --white: #f0f0f040;
    --yellow-light: #d4e7f030;
    --darkBlue: #172901b3;
    --yellow-dark: #E8E5CD
  }
  
  body {
    background-color: var(--yellow-light);
  }
  
  .green {
    color: rgb(115 153 3 / 67%);
  }
  
  .red {
    color: red;
  }
  
  .rightAns {
    background-color: green;
    color: white;
  
  }
  
  .wrongAns {
    background-color: red;
    color: white;
  }
  
  
  #quizApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 1em;
    height: 100vh;
  }
  
  #quizApp h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--darkBlue);
  
  }
  
  #quizApp h1 span {
    color: var(--darkBlue);
  }
  
  .container {
    width: 90%;
    height: 80%;
    background-color: #d4e8cdde;
    box-shadow: 1px 0px 10px 0.5px rgba(0, 0, 255/ 17);
  
  }
  
  h3 {
    padding: 0.70em;
    margin: 0.75em 0.85em 0.50em 0.85em;
    background-color: #e2d4f03d;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1.5px rgba(0, 0, 255, .2);
    text-align: center;
    font-size: 1.1em;
  
  }
  
  .question {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
  }
  
  .score {
    font-size: 1em;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    margin-top: 0.30em;
    color: rgb(58, 58, 58);
  }
  
  .score .wrong {
    color: red;
  }
  
  .score .correct {
    color: green;
  }
  
  ul {
    margin: 0.50em 1.7em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    /* height: 30%; */
  
  }
  
  ul li {
    list-style: none;
    padding: 0.55em;
    /* height: 25%; */
    width: 32%;
    margin-top: 2em;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1em;
    background-color: var(--white);
    box-shadow: 1px 1px 10px 0.5px rgba(0, 0, 255, .2);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.50s ease-out;
  }
  
  .image{
    width: 90%;
    height: 70%;
  
    margin: 0.55em auto;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
  
  }
  .btn {
    margin: 2em;
    text-align: center;
  }
  
  .btn button {
    display: inline-block;
    width: 34%;
    padding: 0.50em;
    cursor: pointer;
    border: none;
    background-color: var(--darkBlue);
    color: #f0f0f0;
    transition: all ease-out 0.50s;
    font-weight: bolder;
    font-size: 1.4em;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0.5px rgba(0, 0, 255, .2);
    border-radius: 5px;
  
  }
  
  
  /* Result Page */
  
  .result {
    height: 100%;
    margin: 0.85em;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bolder;
    justify-content: space-around;
    align-items: center;
  }
  
  .result p {
    margin: 1em;
  }
  
  .congratulations {
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
  }
  
  .detail-btn{
    text-align: center;
    margin: 2em;
  }
  .detail-btn button{
    display: inline-block;
    width: 32%;
    padding: 0.50em;
    cursor: pointer;
    border: none;
    background-color:#802c00de;
    color: var(--yellow-dark);
    transition: all ease-out 0.50s;
    font-weight: bolder;
    font-size: 1.4em;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0.5px rgba(0, 0, 255, .2);
    border-radius: 5px;
  }
  
  /* Details  */
  
  
  table{
    color: var(--yellow-light);
    background-color: var(--darkBlue);
    border-spacing: 0.30em;
    width: 100%;
    margin: 0.85em 0;
  }
   table td{
    padding: 0.40em 0;
  } 
  .table-header{
    width: 18%;
  }
  .question{
    font-size: 0.85em;
    font-weight: bold;
  }
  .option{
    font-size: 0.90em;
    font-weight: bold;
  } 
  
  @media  screen and (max-height:670px) {
    
    #quizApp h1{
      font-size:1.2em;
    }
    .question p{
      font-size: 0.70em;
    }
    .question h3{
      font-size: 1em;
    }
  
    ul li{
      font-size: 0.80em;
      
    }
    .btn button{
      font-size: 1em;
    }
  }
  @media screen and (min-height:1000px) {
    .container{
      height: 60%;
    }
    
  }
  @media screen and (min-height:800px) {
    .container{
      height: 75%;
    }
    
  }
  
  @media  screen and (min-width:800px) {
    .container{
      width: 60%;
      height: 88%;
    }
    #quizApp h1{
      font-size:1.5em;
    }
    .question p{
      font-size: 1.4em;
    }
    .question h3{
      font-size: 1.3em;
    }
    ul{
      margin-top: 2em;
    }
    ul li{
      font-size: 1em;
      margin-top : 2em;
    }
    .btn button{
      font-size: 1.3em;
    }
  }